.title-one {
    font-family: myFont;
    font-size: 70px;
}

.title-two {
    font-family: myFont;
    font-size: 70px;
}

@media (max-width: 768px) {
    .title-one {
        font-family: myFont;
        font-size: 30px;
    }

    .title-two {
        font-family: myFont;
        font-size: 30px;
    }
}

.head-button {
	margin-left: 180px;
	font-size: 25px;
	color: #FFFFFF
}
@media (max-width: 1100px) {
    .head-button {
    display: none;
}
}
.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: center;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
